<%= link_to 'New remind', new_remind_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Message</th>
    <th>Days</th>
    <th>Remind By</th>
    <th colspan="5"></th>
  </tr>

  <% @reminds.each do |remind| %>
    <tr>
      <td><%= remind.name %></td>
      <td><%= remind.message_remind %></td>
      <td><%= remind.delay_days %></td>
      <td><%= remind.remind_by %></td>
      <td><%= link_to 'Edit', edit_remind_path(remind), method: :get %></td>
    </tr>
  <% end %>
</table>
